.favorite-icon-background {
  position: absolute;
  top: 0;
  right: 10px;
  border-radius: 0 0 10px 10px;
  background-color: $white;
}

.favorite-icon {
  padding: 12px;
  color: rgba($danger, .2);
  transform: scale(.9);
  transition-duration: .3s;
  cursor: pointer;

  &:hover {
    color: $danger;
    transform: scale(1.1);
    transition-duration: .3s;
    cursor: pointer;
  }
}

.btn-check:checked + .favorite-icon {
  transform: scale(1.1);
  color: $danger;
}