.naturalThreat__card__item__title,
.naturalThreat__card__item__text {
  text-align: center;
  color: $white;
}

.naturalThreat__card__item__checkbox:checked+.naturalThreat__card__item__label {
  .naturalThreat__card__item__content {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .naturalThreat__card__item__title {
    margin-bottom: 12px;
  }

  .naturalThreat__card__item__text {
    height: auto;
    transform: translateY(0);
    opacity: 1;
  }
}

.naturalThreat__card__item__content {
  @include custom-position-bottom(0%);
  width: 90%;
  height: 25%;
  padding: 20px 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  vertical-align: bottom;
  background: rgba($dark, .6);
  transition-duration: .25s;
  overflow: hidden;

  div {
    height: auto;
  }
  
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba($white, .8);
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba($white, 1);
  }

  &:hover {
    height: 30%;
    transition-duration: .25s;
  }
}

.naturalThreat__card__item__title {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
  transition-duration: .25s;
}
.naturalThreat__card__item__text {
  height: 0;
  margin-bottom: 0;
  font-size: 16px;
  text-align: left;
  transform: translateY(10px);
  transition-duration: .25s;
  opacity: 0;
}


@media(max-width: 1200px) {
  .naturalThreat__card__item__checkbox:checked+.naturalThreat__card__item__label {
    .naturalThreat__card__item__content {
      display: block;
      overflow-y: auto;
    }
  }
}

@media(max-width: 992px) {
  .naturalThreat__card__item__checkbox:checked+.naturalThreat__card__item__label {
    .naturalThreat__card__item__content {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: hidden;
    }
  }
}

@media(max-width: 414px) {
  .naturalThreat__card__item__checkbox:checked+.naturalThreat__card__item__label {
    .naturalThreat__card__item__content {
      overflow-y: auto;
    }

    .naturalThreat__card__item__text {
      display: block;
    }
  }
  .naturalThreat__card__item__title {
    font-size: 20px;
  }
  .naturalThreat__card__item__text {
    display: none;
  }
}

@media(max-width: 320px) {
  .naturalThreat__card__item__checkbox:checked+.naturalThreat__card__item__label {
    .naturalThreat__card__item__content {
      display: block;
    }
  }

  .naturalThreat__card__item__title {
    font-size: 18px;
  }
}