.custom__card__img {
  position: relative;
  overflow: hidden;
  background: $black;

  .custom__card__more, img {
    transition-duration: .3s;
  }

  .custom__card__more {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    font-weight: bold;
    z-index: 1;
  }

  img {
    width: 110%;
    height: auto;
  }
}

.custom__card:hover {
  cursor: pointer;

  .custom__card__more, img {
    transition-duration: .3s;
  }

  .custom__card__more {
    opacity: .8;
    color: $white;
  }

  img {
    opacity: .6;
    transform: scale(1.2);
  }
}