.swiper__product__title {
  width: 100%;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  padding: 10px;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 0 20px $dark;
  color: $white;
  background: rgba($white, .3);
  transition-duration: .3s;
  opacity: 1;
}

.swiper__product__text {
  height: 0;
  color: $dark;
  transform: translateY(20px);
  transition-duration: .3s;
  opacity: 0;
}

.swiper__product__content:hover {
  .swiper__product__title {
    padding-top: 50%;
    padding-bottom: 45%;
    text-shadow: rgba($dark, 1);
    background: rgba($white, .7);
    transition-duration: .3s;
  }

  .swiper__product__text {
    transform: translateY(0);
    transition-delay: .2s;
    transition-duration: .3s;
    opacity: 1;
  }
}