.fade_animetion{
  @include animetion_init(fadeAni, 10s, infinite);
}

.fade_animetion_slow{
  @include animetion_init(fadeAni, 14s, infinite);
}

@keyframes fadeAni {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.translateYTop{
  animation: translateYTop 2s 1;
  animation-timing-function: steps(100);
}

@keyframes translateYTop {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animation_delay{
  animation-delay: .5s;
}