.header__banner__text{
  margin-bottom: 24px;
  font-size: 24px;
}
.header__banner__title{
  font-size: 32px;
}

.custom-style-text-1{
  font-size: 40px;
}

// 箭頭
.arrow{
  @include custom_position_bottom(6%, 10%);
}

// 我的最愛
.offcanvas{
  width: 500px;
}

// RWD - media
@media(max-width: 992px){
  .arrow{
    @include custom_position_bottom(21%, 0%, .8);
  }

  .custom-style-text-1{
    font-size: 32px;
  }
}

@media(max-width: 767px){
  .header__banner__text{
    margin-bottom: 16px;
    font-size: 16px; 
  }
  .header__banner__title{
    font-size: 24px;
  }

  .custom-style-text-1{
    font-size: 24px;
  }

  .arrow{
    @include custom_position_bottom(-5%, 32%, .5);
  }

  .custom-style-title{
    font-size: 24px;
  }

  .offcanvas{
    max-width: 95%;
  }
}

@media(max-width: 414px){
  .header__banner__text{
    margin-bottom: 14px;
    font-size: 12px; 
  }
  .header__banner__title{
    font-size: 16px;
  }

  .arrow{
    @include custom_position_bottom(-20%, 60%, .3);
  }

  .custom-style-title{
    font-size: 16px;
  }

  .custom-style-text-1{
    font-size: 24px;
  }

  .custom-style-text-2{
    font-size: 14px;
  }

  .custom-cart-table{
    thead, tbody{
      font-size: 12px;
    }
  }

  .custom-style-text-3{
    font-size: 14px;
  }

  footer{
    font-size: 14px;
  }
  
}