.page-content {
  min-height: 800px;
}

.custom-style-title {
  border-radius: 8px;
  text-shadow: 0 0 20px rgba($dark, .3);
  background: rgba($white, .4);
}

.header {
  height: 350px;
  background: no-repeat center center;
}