@mixin custom-position-setIn(
  $topValue: 50%,
  $leftValue: 50%,
  $transX: -50%,
  $transY: -50%,
) {
  position: absolute;
  top: $topValue;
  left: $leftValue;
  transform: translate($transX, $transY);
}

@mixin custom-position-bottom(
  $bottomValue,
  $heightValue: auto,
  $scaleValue: 1,
) {
  position: absolute;
  height: $heightValue;
  bottom: $bottomValue;
  left: 50%;
  transform: translate(-50%, 0) scale($scaleValue);
}

@mixin animetion-init(
  $animetionName,
  $seconds,
  $infinite,
) {
  animation: $animetionName $seconds $infinite;
  animation-timing-function: steps(100);
}