@import "~bootstrap/scss/functions";
@import "./helpers/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap";
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

*{
  letter-spacing: 3px;
}

body{
  font-family: 'Noto Sans HK', sans-serif;
  background: $gray-100;
  overflow-x: hidden;
}

// 每個頁面的主頁範圍
.pageContent{
  min-height: 800px;
}

// 放大1.2倍
.scale{
  transform: scale(1);
  transition-duration: .5s;
}
.scale:hover{
  transform: scale(1.2);
  transition-duration: .5s;
}

// 點擊
.pointer{
  cursor: pointer;
  &:hover{
    box-shadow: 0 0 5px 1px $gray-500;
  }
}

// logo
.logo{
  font-family: 'Vibur';
  color: $secondary;
}

.logo_brown{
  font-family: 'Vibur';
  color: $brown-500;
  &:hover{
    color: $warning;
  }
}

// 商品-卡片圖片
.card_img_style{
  position: relative;
  overflow: hidden;
  background: $black;
  cursor: pointer;

  .more_msg, img{
    transition-duration: .5s;
  }
  .more_msg{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    font-weight: bold;
    z-index: 1;
  }
  img{
    width: 110%;
    height: auto;
  }
}

.card_img_style:hover{
  .more_msg, img{
    transition-duration: .5s;
  }
  .more_msg{
    opacity: .8;
    color: $white;
  }
  img{
    opacity: .6;
    transform: scale(1.2);
  }
}

// 購物車數量
.cart_num{
  position: absolute;
  top: -8px;
  left: 10px;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border: solid 2px $primary;
  font-family: 'Vibur';
  font-size: 5px;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  color: $primary;
  background: $secondary;
}

// 主要按鈕
.btn_main{
  padding: 8px;
  color: white;
  background: $primary;
  &:hover{
    color: white;
    background: $secondary;
  }
}

// 我的最愛 & 購物車按鈕 & 購物車數量 +/-
.btn_red, .btn_light_green{
  font-size: 26px;
  transform: scale(1);
  transition-duration: .5s;
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
    transition-duration: .5s;
  }
}

.btn_outline_green{
  border: solid 1px $secondary;
  color: $secondary;
  &:hover{
    color: $brown-500;
    background: $secondary;
  }
}

.btn_red{
  color: rgba($red, .3);
  &:hover{
    color: $red;
  }
}

// 購物車 +/-
.btn_light_green{
  padding: 0px 10px;
  color: $secondary;
  background: $white; // transparent
  z-index: 1;
  &:hover{
    color: $primary;
  }
}

// 訂單進度條
.progress_style{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  background: $secondary;
  transform: scale(1);
  i{
    color: $white;
    font-size: 20px;
  }
}
.progress_active{
  width: 50px;
  height: 50px;
  padding: 8px 13px;
  line-height: 30px;
  background: $primary;
  i{
    font-size: 22px;
  }
}

// 購物車
.table_style{
  max-width: 900px;
  margin: 0px auto;
}

tbody{
  th, td{
    vertical-align: middle;
  }
}

// 彈跳視窗
.swal-modal{
  width: auto;
  padding: 50px 60px;
}

.swal-title{
  color: $primary;
}

.swal-text{
  max-width: none;
}

.swal-button{
  font-size: 16px;
}

.swal-icon:first-child{
  margin: 20px auto;
}
.swal-icon--success__ring {
  border-color: rgba($green-100, .2);
}
.swal-icon--success__line{
  background-color: $green-100;
}
.swal-icon--success{
  border-color: $green-100;
}

.swal-icon--warning__body{
  height: 38px;
  top: 15px;
}

.swal-icon--warning__dot{
  bottom: -13px;
  margin-left: -3px;
}

// 產品頁面 多圖
.img_view{
  height: 514px;
}