.headerTitleStyle{
  @include moveUp(55%);
  transition-duration: 3s;
}
.headerTitleStyle_text{
  margin-bottom: 24px;
  font-size: 24px;
}

@media(max-width: 992px){
  .headerTitleStyle_title{
    font-size: 32px; 
  }
}

@media(max-width: 768px){
  .headerTitleStyle_text{
    margin-bottom: 16px;
    font-size: 16px; 
  }
  .headerTitleStyle_title{
    font-size: 24px;
  }
}

@media(max-width: 375px){
  .headerTitleStyle_text{
    margin-bottom: 14px;
    font-size: 12px; 
  }
  .headerTitleStyle_title{
    font-size: 16px;
  }
}


//   .container{
//     max-width: 960px;
//   }
// }

// - 桌機
//   - 1200px
//   - 1140px (bootstrap)
// - 平板
//   - 1199px (平板)
//   - 768px (直式ipad)
// - 手機 (擇一)
//   - 414px (iphone pro)
//   - 375px (iphone7~11)

// .container{ max-width: 1140px; }
// .menu{ width: 30%; }
// .content{ width: 70%; }

// @media(max-width:992px){
//   .container{
//     max-width: 960px;
//   }
// }
// @media(max-width:768px){
//   .container{
//     max-width: 720px;
//   }
//   .menu{
//     width: 100%;
//   }
//   .content{
//     width: 100%;
//   }
// }