.logo_home, .logo, .logo_brown{
  font-family: 'Vibur';
  font-size: 24px;
  transition-duration: .3s;

  &:hover{
    transition-duration: .3s;
  }
}

.logo_login{
  font-family: 'Vibur';
  transition-duration: .3s;

  &:hover{
    transition-duration: .3s;
  }
}

// 首圖logo
.logo_home{
  color: $white;

  &:hover, &:focus{
    color: rgba($secondary, .7);
  }
}

// 前台 logo
.logo{
  color: rgba($secondary, .8);

  &:hover{
    color: $secondary;
  }
}

// 後台 logo
.logo_brown{
  color: $brown-500;

  &:hover, &:focus{
    color: $warning;
  }
}

// 登入 logo
.logo_login{
  color: rgba($secondary, .8);

  &:hover{
    color: $secondary;
  }
}

.navbar_text{
  font-size: 20px
}

// icons 數字
// 最愛收藏數量&購物車數量 共同設定
.num_icon{
  @include custom_position_setIn(-9px, 12px, 0, 0);
  width: 27px;
  height: 27px;
  border-radius: 100%;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  color: $white;
  background: $danger;
}


// RWD - media
// @media(max-width: 992px){
  
// }

@media(max-width: 768px){
  .logo_home, .logo, .logo_brown, .navbar_text{
    font-size: 16px;
  }

  .navbar-dark .navbar-toggler {
    padding: 1px 7px;
  }
  .navbar-dark .navbar-toggler-icon {
    transform: scale(.9);
  }
}

@media(max-width: 414px){
  .navbar-dark .navbar-toggler {
    padding: 1px 3px;
  }
  .navbar-dark .navbar-toggler-icon {
    transform: scale(.7);
  }
}