// 商品-卡片圖片
.card_img_style{
  position: relative;
  overflow: hidden;
  background: $black;

  .more_msg, img{
    transition-duration: .5s;
  }
  .more_msg{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    font-weight: bold;
    z-index: 1;
  }
  img{
    width: 110%;
    height: auto;
  }
}

// 商品-卡片圖片 hover 效果
.custom_card_style:hover{
  cursor: pointer;
  .more_msg, img{
    transition-duration: .5s;
  }
  .more_msg{
    opacity: .8;
    color: $white;
  }
  img{
    opacity: .6;
    transform: scale(1.2);
  }
}